<div>
  <div>
    <h1>
      List of all spotify accounts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new spotify account
    </h2>

    <form action="/insert_spotify_account" method="post">
      <button>
        Create spotify account
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_spotify_accounts.each do |a_spotify_account| %>
      <tr>
        <td>
          <%= a_spotify_account.id %>
        </td>

        <td>
          <%= time_ago_in_words(a_spotify_account.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_spotify_account.updated_at) %> ago
        </td>

        <td>
          <a href="/spotify_accounts/<%= a_spotify_account.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
